//RWD-size
$web-L: 1366px;
$web-S: 1024px;
$pad: 768px;
$mobile-L: 568px;
$mobile-S: 375px;
$mobile-XS: 320px;

//color

$light-sky: #a7e5ff;
$blue: #0290cc;
$green: #90c541;
$light-gray: #eeefef;
$gray: #cccccc;
$table-blue: #e5f1f9;
$red: #da382d;
$yellow: #fcfc82;
$orange: #f2aa1f;
$purple: #9069d4;

//font-color
$title-D: #0290cc;
$title-W: white;
$text: #595757;
$title-BK: black;

//font-size
$size-h1: 1.625rem;
$size-h2: 1.5rem;
$size-h3: 1.375rem;
$size-h4: 1.125rem;
$size-p: 1rem;

//padding
$padding-XXS: 0.625rem; //10px
$padding-XS: 1.875rem; //30px
$padding-S: 3.75rem; //60px
$padding-M: 5.625rem; //90px
$padding-L: 7.5rem; //120px

//margin
$margin-XS: 1.25rem; //20px
$margin-S: 2.5rem; //40px
$margin-M: 3.75rem; //60px
$margin-L: 5rem; //80px
$margin-XL: 6.25rem; //100px
