@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html,
body {
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    padding-right: 0 !important;
    @include mobile-XS() {
        font-size: 14px;
    }
    // 導覽列
    .minibar {
        @include minibar();
    }
    .navbar {
        @include navbar();
    }
    // Banner
    .content-banner {
        padding-top: 120px;
        @include pad() {
            padding-top: 60px;
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center 50%;
            @include mobile-L() {
                height: 30vh;
            }
        }
    }
    //關於平台
    .content-about {
        .container {
            padding-bottom: 0;
            display: flex;
            @include mobile-L() {
                flex-wrap: wrap;
                padding-bottom: unset;
            }
            .icon {
                width: 15%;
                margin-right: $margin-XS;
                @include pad() {
                    width: 20%;
                }
                @include mobile-L() {
                    width: 100%;
                    margin-right: unset;
                }
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 120px;
                    @include mobile-L() {
                        height: 80px;
                        margin-bottom: $margin-XS;
                    }
                }
            }
            .about {
                width: 85%;
                @include pad() {
                    width: 80%;
                }
                @include mobile-L() {
                    width: 100%;
                }
            }
            h1 {
                text-align: left;
                @include mobile-L() {
                    text-align: center;
                }
            }
        }
    }
    //最新消息
    .content-preview {
        .container {
            display: flex;
            flex-wrap: wrap;
            @include web-S() {
                padding-bottom: $padding-XS;
            }
            @include pad() {
                padding-bottom: 0;
            }
            .new-btn {
                margin-bottom: $margin-XS;
                button {
                    margin-right: $margin-XS/2;
                    opacity: 0.4;
                }
                .active-btn {
                    opacity: 1;
                }
            }
            .new {
                @include news-list(100%, 15%);
                display: none;
            }
            .active-list {
                display: block;
            }
        }
    }
    //精選影片
    .content-video {
        width: 100%;
        padding-bottom: $padding-S * 1.5;
        @include web-S() {
            padding-bottom: $padding-S;
        }
        @include mobile-L {
            display: none;
        }
        h2 {
            text-align: center;
        }
        .video {
            display: flex;
            justify-content: space-between;
            iframe {
                width: 32.5%;
                height: 30vh;
                border: none;
                @include web-S() {
                    height: 15vh;
                }
                @include pad() {
                    height: 13vh;
                }
            }
        }
    }

    //政府網站資料開放宣告
    .content-information {
        @include papers();
        @include text-important();
        .container {
            .list-gp {
                @include news-list(100%, 15%);
                margin: $margin-S * 1.5 0;
            }
        }
    }
    // 頁尾
    footer {
        @include footer();
    }
    .back-top {
        @include back-top();
    }

    //最新消息清單
    .content-news {
        @include papers();
        .container {
            display: flex;
            flex-wrap: wrap;
            h1 {
                width: 100%;
                text-align: center;
                margin: 0;
            }
            .new-btn {
                margin-bottom: $margin-XS;
                button {
                    margin-right: $margin-XS/2;
                    opacity: 0.4;
                }
                .active-btn {
                    opacity: 1;
                }
            }
            .new {
                @include news-list(100%, 15%);
                display: none;
                @include mobile-L() {
                    margin-bottom: 0;
                }
            }
            .active-list {
                display: block;
            }
            .searchbar {
                @include searchbar();
            }
        }
    }
    //最新消息子頁
    .content-news-info {
        @include papers();
        .container {
            .info-top {
                margin-top: $margin-S;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    font-size: $size-p;
                    color: $text;
                    li {
                        display: inline;
                        margin-right: $margin-S;
                        @include mobile-L() {
                            display: block;
                        }
                    }
                    .far {
                        width: 13px;
                        color: $text;
                        font-size: $size-p;
                        margin-right: 10px;
                    }
                }
            }
            .info-body {
                img {
                    width: 100%;
                    max-height: 600px;
                    object-position: center;
                    margin-top: $margin-XS;
                    @include pad() {
                        max-height: 400px;
                    }
                    @include mobile-L() {
                        max-height: 300px;
                    }
                }
                p {
                    margin: $margin-XS 0;
                }
            }
            .btn {
                display: flex;
                justify-content: center;
                margin: $margin-S 0;
                @include web-S() {
                    margin: $margin-XS 0;
                }
            }
        }
    }
    //FAQ
    .content-FQA {
        @include papers();
        .container {
            @include mobile-L() {
                width: 100%;
                margin: 0;
                h1 {
                    text-align: center;
                    @include mobile-L() {
                        margin: 0;
                        margin-bottom: $margin-XS;
                    }
                }
            }
            .collapse-gp {
                @include collapse;
            }
            span {
                color: $blue;
            }
        }
    }
    //報名教學
    .content-explain {
        @include papers();
        @include text-important();
        .container {
            max-width: 900px;
            h1 {
                margin: 0;
            }
            h3 {
                color: $title-BK;
            }
            img {
                width: 100%;
                height: 100%;
                border: solid 1px $gray;
            }
            p {
                margin: 0;
                margin-bottom: $margin-XS * 1.5;
            }
            hr {
                margin: $margin-S 0;
                @include mobile-L() {
                    margin: $margin-XS 0;
                }
            }
        }
    }
    //相關連結
    .content-link {
        @include papers();
        @include text-important();
        .container {
            h1 {
                margin-top: 0;
            }
            .logo-gp {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                a {
                    margin: 0 $margin-XS;
                    margin-bottom: $margin-S;
                    @include pad() {
                        margin-bottom: $margin-XS;
                    }
                }
                img {
                    max-width: 350px;
                    max-height: 100px;
                    @include pad() {
                        width: 25vh;
                    }
                    @include mobile-L() {
                        width: 35vh;
                    }
                }
            }
        }
    }
    //登入
    .content-login {
        @include papers();
        .container {
            @include mobile-L() {
                width: 100%;
                margin: 0;
                padding-bottom: 0;
                h1 {
                    text-align: center;
                    margin: 0;
                    margin-bottom: $margin-XS;
                }
            }
            .form {
                @include form();
                margin: auto;
                width: 50%;
                padding: $padding-S;
                @include web-S() {
                    width: 55%;
                    padding: $padding-XS $padding-S * 1.5;
                }
                @include pad() {
                    width: 80%;
                    padding: $padding-S 0;
                }
                @include mobile-L() {
                    width: 100%;
                    padding-top: $padding-XS/2;
                    padding-bottom: $padding-XS * 1.5;
                    background-color: $title-W;
                    margin: 0;
                }
                .g-recaptcha {
                    width: 100%;
                    margin-top: $margin-XS;
                }
            }
        }
    }
    //註冊
    .content-signup {
        @include papers();
        @include text-important();
        .container {
            padding-bottom: 0;
            @include mobile-L() {
                width: 100%;
                margin: 0;
                padding-bottom: 0;
                h1 {
                    margin-top: 0;
                    text-align: center;
                }
            }
        }
        .form-menu {
            width: 100%;
            text-align: center;
            margin: $margin-XS * 1.5 0;
            button {
                margin: 0 $margin-XS/2;
                opacity: 0.3;
            }
            .show-menu {
                opacity: 1;
            }
        }
        .form-personal {
            width: 100%;
            margin: 0;
            @include form();
            border-radius: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .form-body {
                width: 55vh;
                padding: $padding-S;

                @include pad() {
                    padding: $padding-XS * 1.5;
                }
                @include mobile-L() {
                }
                h4 {
                    margin: 0;
                    margin: $margin-XS/2 0;
                }
                .form-gp {
                    padding: 0;
                    .city,
                    .area,
                    .postcode {
                        width: 30%;
                        margin-bottom: $margin-XS;
                        @include mobile-L() {
                            width: 100%;
                        }
                    }
                }
                .form-check {
                    display: inline-block;
                    padding: 0;
                    h4 {
                        margin: 0;
                        margin: $margin-XS/2 0;
                    }
                }
            }
            .form-bot {
                width: 100%;
                background-color: $title-W;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: $padding-S 0;
                @include pad() {
                    padding: $padding-XS 0;
                }
                .form-submit {
                    width: 20%;
                    text-align: center;
                    @include pad() {
                        width: 30%;
                    }
                    @include mobile-L() {
                        width: 100%;
                    }
                    input {
                        &[type="checkbox"] {
                            width: 20px;
                            height: 20px;
                            line-height: $size-h4 * 2;
                            margin-top: 8px;
                            border: 1px solid $light-sky;
                        }
                    }
                    .btn {
                        padding: 0;
                        margin: 0;
                        @include mobile-L() {
                            width: 100%;
                            padding: 0 $padding-XS * 1.5;
                        }
                    }
                    a {
                        margin-left: 3px;
                    }
                    .form-check-label {
                        line-height: $size-h4 * 2;
                        margin-left: $margin-XS;
                    }
                }
            }
        }

        .form-group {
            width: 100%;
            margin: 0;
            @include form();
            border-radius: 0;
            .form-body {
                padding: $padding-S 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @include pad() {
                    padding: 0;
                }
                @include mobile-L() {
                    padding: 0 $padding-XS * 1.5;
                }
                width: 100%;
                .form-left {
                    width: 30%;
                    border-radius: 20px 0 0 20px;
                    padding-left: $padding-S;
                    padding-right: $padding-XS;
                    @include mobile-L() {
                        padding-top: $padding-XS * 1.5 !important;
                    }
                }
                .form-right {
                    width: 30%;
                    border-radius: 0 20px 20px 0;
                    padding-right: $padding-S;
                    padding-left: $padding-XS;
                    @include mobile-L() {
                        padding-bottom: $padding-XS * 1.5 !important;
                    }
                }
                .form-left,
                .form-right {
                    @include web-S() {
                        width: 50%;
                    }
                    @include pad {
                        width: 60%;
                        padding: $padding-XS 0;
                    }
                    @include mobile-L() {
                        width: 100%;
                        padding: 0;
                    }
                }
                .form-gp {
                    padding: 0;
                    .city,
                    .area,
                    .postcode {
                        width: 30%;
                        margin-bottom: $margin-XS;
                        @include mobile-L() {
                            width: 100%;
                        }
                    }
                }
                .form-check {
                    width: 100%;
                    padding: 0;
                    h4 {
                        margin: 0;
                        margin: $margin-XS/2 0;
                    }
                    label {
                        margin-left: $margin-XS * 1.5;
                    }
                }
            }
            .form-bot {
                width: 100%;
                background-color: $title-W;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: $padding-S 0;
                @include pad() {
                    padding: $padding-XS 0;
                }
                .form-submit {
                    width: 20%;
                    text-align: center;
                    @include pad() {
                        width: 30%;
                    }
                    @include mobile-L() {
                        width: 100%;
                    }
                    input {
                        &[type="checkbox"] {
                            width: 20px;
                            height: 20px;
                            line-height: $size-h4 * 2;
                            margin-top: 8px;
                            border: 1px solid $light-sky;
                        }
                    }
                    .btn {
                        padding: 0;
                        margin: 0;
                        @include mobile-L() {
                            width: 100%;
                            padding: 0 $padding-XS * 1.5;
                        }
                    }
                    a {
                        margin-left: 3px;
                    }
                    .form-check-label {
                        line-height: $size-h4 * 2;
                        margin-left: $margin-XS;
                    }
                }
            }
        }
    }
    //註冊成功
    .content-sign-up-success {
        .container {
            padding: $padding-M;
            padding-top: 220px;
            height: 100%;
            text-align: center;
            @include pad() {
                padding-top: 150px;
            }
            @include mobile-L() {
                padding: $padding-M 0;
                padding-top: 150px;
            }
            h1 {
                margin-bottom: $margin-XS/2.5;
            }
            p {
                text-align: center;
                @include pad() {
                    margin-top: $margin-XS/2;
                }
            }
            img {
                width: 100px;
                margin-bottom: $margin-XS;
            }
            .btn {
                margin: $margin-XS 0;
            }
        }
    }
    //會員專區
    .content-member {
        @include papers();
        .container {
            h1 {
                @include mobile-L() {
                    margin-top: 0;
                }
            }
            .btn-gp {
                margin-top: $margin-S;
                a {
                    display: flex;
                    justify-content: center;
                    margin-bottom: $margin-S;
                    @include mobile-L() {
                        margin-bottom: $margin-XS * 1.5;
                    }
                    .member-btn {
                        width: 500px;
                        height: 120px;
                        background-color: $blue;
                        border-radius: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include mobile-L() {
                            width: 100%;
                            height: 80px;
                        }
                        p {
                            color: $title-W;
                            font-size: 32px;
                            font-weight: bold;
                            @include mobile-L() {
                                font-size: $size-h2;
                            }
                        }
                        img {
                            margin-right: $margin-XS;
                            @include mobile-L() {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    #case-apply {
                        background-color: $green;
                    }
                    #case-list {
                        background-color: $blue;
                    }
                    #change-data {
                        background-color: $text;
                    }
                    #case-apply,
                    #case-list,
                    #change-data {
                        &:hover {
                            background-color: $title-BK;
                        }
                    }
                }
            }
        }
    }
    //案件申請
    .content-case-apply {
        @include papers();
        .container {
            @include mobile-L() {
                margin: 0;
                width: 100%;
            }
            h1 {
                @include mobile-L() {
                    margin: 0;
                    margin-bottom: $margin-XS;
                }
            }
            .btn {
                margin: $margin-XS/2 0;
                @include mobile-L() {
                    margin: 0;
                    padding: 0 $padding-XS * 1.5;
                }
                button {
                    height: 40px;
                    margin: 0 $margin-XS/2;
                    border-radius: 40px;
                    background-color: $light-gray;
                    color: $text;
                    @include mobile-L() {
                        width: 100%;
                        margin: 0;
                        margin-bottom: $margin-XS;
                    }
                }
                .active-blue {
                    background-color: $blue;
                    color: $title-W;
                }
                .active-green {
                    background-color: $green;
                    color: $title-W;
                }
                .active-black {
                    background-color: $title-BK;
                    color: $title-W;
                }
            }
            .form-apply {
                @include form-apply();
            }
        }
    }

    //案件查詢
    .content-case-list {
        @include papers();
        @include text-important();
        .container {
            @include mobile-L() {
                margin: 0;
                width: 100%;
                h1 {
                    text-align: center;
                    @include mobile-L() {
                        margin: 0;
                    }
                }
            }
            .filter {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                margin-top: $margin-S;
                margin-bottom: $margin-XS;
                @include mobile-L() {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0 $padding-XS * 1.5;
                    margin-top: $margin-XS;
                }
                label {
                    font-size: $size-h4;
                    line-height: $size-h4 * 1.5;
                    font-weight: bold;
                    color: $text;
                    margin-right: $margin-XS;
                    @include mobile-L() {
                        display: none;
                    }
                }
                select {
                    width: 15%;
                    height: 30px;
                    margin: 0;
                    margin-right: $margin-XS;
                    background-color: transparent;
                    border: solid 1px $text;
                    border-radius: 8px;
                    font-size: $size-p;
                    line-height: $size-p * 1.5;
                    font-weight: bold;
                    color: $text;
                    text-align-last: center;
                    @include pad() {
                        width: 28%;
                    }
                    @include mobile-L() {
                        width: 100%;
                        margin: unset;
                        margin-bottom: $margin-XS;
                    }
                }
                input {
                    width: 15%;
                    height: 30px;
                    margin: 0;
                    margin-right: $margin-XS;
                    background-color: transparent;
                    border: solid 1px $text;
                    border-radius: 8px;
                    font-size: $size-p;
                    line-height: $size-p * 2;
                    color: $text;
                    text-align: center;
                    @include mobile-L() {
                        width: 100%;
                        margin: unset;
                        margin-bottom: $margin-XS;
                    }
                    &[type="submit"],
                    &[type="reset"] {
                        width: 9%;
                        padding: 5px 0;
                        background-color: transparent;
                        border: solid 1px $text;
                        border-radius: 8px;
                        font-size: $size-h4;
                        line-height: $size-h4;
                        color: $text;
                        font-family: "微軟正黑體";
                        font-weight: bold;
                        @include pad() {
                            width: 20%;
                        }
                        @include mobile-L() {
                            width: 100%;
                        }
                        &:hover {
                            background-color: $title-BK;
                            transition-duration: 0.5s;
                            color: $title-W;
                        }
                    }
                }
            }
            .case-list {
                @include case-list();
            }
            .pagination {
                @include mobile-L() {
                    padding: 0 $padding-XS * 1.5;
                }
            }
        }
    }
    //會員資料修改
    .content-member-data {
        @include papers();
        .container {
            @include mobile-L() {
                width: 100%;
                h1 {
                    text-align: center;
                    margin-top: 0;
                }
                padding-bottom: 0;
            }
        }
    }
}
